.app-component-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  background-color: #87143a;
}
.app-component-button {
  color: #e3d8d8;
  height: 70;
  border-color: #b75cbf;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #923e5a;
}
.app-component-button1 {
  color: #e3d8d8;
  height: 70;
  border-color: #b75cbf;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #923e5a;
}
.app-component-button2 {
  color: #e3d8d8;
  height: 70;
  border-color: #b75cbf;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #923e5a;
}
.app-component-button3 {
  color: #e3d8d8;
  height: 70;
  border-color: #b75cbf;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #923e5a;
}
.app-component-root-class-name {
  margin-left: var(--dl-space-space-halfunit);
  background-color: transparent;
}
@media(max-width: 1600px) {
  .app-component-root-class-name {
    margin-right: var(--dl-space-space-halfunit);
    background-color: transparent;
  }
}
@media(max-width: 1200px) {
  .app-component-button {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .app-component-button1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .app-component-button2 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .app-component-button3 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .app-component-root-class-name {
    background-color: transparent;
  }
}
@media(max-width: 991px) {
  .app-component-button {
    background-color: #923e5a;
  }
  .app-component-button1 {
    background-color: #923e5a;
  }
  .app-component-button2 {
    background-color: #923e5a;
  }
  .app-component-button3 {
    background-color: #923e5a;
  }
  .app-component-root-class-name {
    background-color: transparent;
  }
}
@media(max-width: 767px) {
  .app-component-root-class-name {
    align-self: center;
    background-color: transparent;
  }
}
@media(max-width: 479px) {
  .app-component-container {
    width: auto;
    border-width: 0px;
  }
  .app-component-button {
    height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .app-component-button1 {
    height: 75px;
    margin-top: 0px;
    border-color: #b75cbf;
    margin-bottom: 0px;
  }
  .app-component-button2 {
    height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .app-component-button3 {
    height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .app-component-root-class-name {
    height: auto;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}

.aciriai-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #17b3f9;
}
.aciriai-image {
  width: 488px;
  height: 204px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
}
.aciriai-container1 {
  width: 50%;
  height: 208px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-width: 0;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #026e81;
}
.aciriai-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aciriai-textinput {
  color: rgba(0, 0, 0, 0.8);
  width: 70%;
  border: 0px;
  height: 50%;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  caret-color: var(--dl-color-primary-100);
  border-radius: var(--dl-radius-radius-radius8);
}
.aciriai-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aciriai-button {
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-large);
  border: 0px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #00B6DE;
}
.aciriai-container4 {
  flex: 0;
  width: 50%;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-threeunits);
  max-height: 90%;
  min-height: 300px;
  overflow-y: scroll;
  align-items: flex-start;
  white-space: pre-line;
  border-color: #a783e6;
  border-style: solid;
  border-width: 2px;
  margin-right: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(177, 75, 109, 0.95);
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.aciriai-text {
  color: var(--dl-color-primary-500);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.aciriai-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 1600px) {
  .aciriai-image {
    width: 488px;
    height: 204px;
    margin-top: var(--dl-space-space-twounits);
  }
  .aciriai-container1 {
    margin-top: var(--dl-space-space-twounits);
  }
  .aciriai-textinput {
    height: 3rem;
  }
  .aciriai-button {
    height: 3rem;
    font-size: 22px;
    border-width: 0px;
    padding-left: 0px;
  }
  .aciriai-container4 {
    z-index: 95;
    align-self: center;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media(max-width: 1200px) {
  .aciriai-container {
    align-items: center;
    justify-content: flex-start;
  }
  .aciriai-image {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xlarge);
    margin-top: var(--dl-space-space-unit);
  }
  .aciriai-container1 {
    align-self: center;
  }
  .aciriai-container4 {
    align-self: center;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .aciriai-container5 {
    align-self: flex-start;
  }
}
@media(max-width: 991px) {
  .aciriai-image {
    height: 121px;
  }
  .aciriai-textinput {
    border-color: #b6d5e0;
  }
  .aciriai-button {
    border-color: #b6d5e0;
  }
  .aciriai-container4 {
    flex: 0;
    width: 60%;
    align-self: center;
    overflow-y: scroll;
    border-color: #a783e6;
    border-style: solid;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .aciriai-image {
    width: 253px;
    height: 139px;
  }
  .aciriai-container4 {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: #a783e6;
  }
}
@media(max-width: 479px) {
  .aciriai-container {
    border-width: 1px;
  }
  .aciriai-image {
    width: 230px;
    height: 107px;
  }
  .aciriai-container1 {
    width: 92%;
    height: 226px;
    border-width: 0px;
  }
  .aciriai-container2 {
    height: 50%;
    margin-bottom: 5px;
  }
  .aciriai-textinput {
    width: 80%;
    font-size: 22px;
  }
  .aciriai-container3 {
    width: 358px;
    height: 50%;
    align-self: center;
    margin-top: 0px;
    flex-direction: column;
  }
  .aciriai-button {
    color: rgb(255, 255, 255);
    width: 210px;
    font-size: 22px;
    font-family: Open Sans;
    padding-top: var(--dl-space-space-unit);
    border-color: #61a8b7;
    border-width: 3px;
    padding-left: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    padding-bottom: var(--dl-space-space-unit);
    background-color: rgb(0, 182, 222);
  }
  .aciriai-container4 {
    width: 92%;
    height: 70%;
    max-height: 70%;
  }
  .aciriai-container5 {
    border-width: 0px;
  }
}
