.component-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  background-color: #87143a;
}
.component-button {
  color: #e3d8d8;
  height: 70;
  border-color: #b75cbf;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #923e5a;
}
.component-button1 {
  color: #e3d8d8;
  height: 70;
  border-color: #b75cbf;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #923e5a;
}
.component-button2 {
  color: #e3d8d8;
  height: 70;
  border-color: #b75cbf;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #923e5a;
}
.component-button3 {
  color: #e3d8d8;
  height: 70;
  border-color: #b75cbf;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #923e5a;
}
.component-root-class-name {
  margin-left: var(--dl-space-space-halfunit);
  background-color: transparent;
}
@media(max-width: 1600px) {
  .component-root-class-name {
    margin-right: var(--dl-space-space-halfunit);
    background-color: transparent;
  }
}
@media(max-width: 1200px) {
  .component-button {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .component-button1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .component-button2 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .component-button3 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .component-root-class-name {
    background-color: transparent;
  }
}
@media(max-width: 991px) {
  .component-button {
    background-color: #923e5a;
  }
  .component-button1 {
    background-color: #923e5a;
  }
  .component-button2 {
    background-color: #923e5a;
  }
  .component-button3 {
    background-color: #923e5a;
  }
  .component-root-class-name {
    background-color: transparent;
  }
}
@media(max-width: 767px) {
  .component-root-class-name {
    align-self: center;
    background-color: transparent;
  }
}
@media(max-width: 479px) {
  .component-container {
    width: auto;
    border-width: 0px;
  }
  .component-button {
    height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .component-button1 {
    height: 75px;
    margin-top: 0px;
    border-color: #b75cbf;
    margin-bottom: 0px;
  }
  .component-button2 {
    height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .component-button3 {
    height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .component-root-class-name {
    height: auto;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
