<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <button type="button" class="component-button button">
      <span>The Gyan</span>
    </button>
    <button type="button" class="component-button1 button">
      <span>Gyan Summary</span>
    </button>
    <button type="button" class="component-button2 button">
      <span>Audio Gyan</span>
    </button>
    <button type="button" class="component-button3 button">
      <span>Video Gyan</span>
    </button>
  </div>
</div>
